.img-responsive {
    display: block;
    max-width: 100%;
    width:100%;
    height: auto;
}

.sub-page-title {
    background: white;
    position: relative;
    top: -120px;
    z-index: 2;

}

.page-title {
    font-size:3.3em;
    white-space: nowrap;
    overflow: hidden;
}
md-toolbar h1 {
    font-weight: normal;
}
md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 4px 16px; 
    vertical-align: middle;
    width: 48px;
    height: 48px;
}

.face-toolbar {
    border-radius: 30px;
    display: inline-block;
    margin: 4px 16px; 
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.content-wrapper {
    position: relative;
}


