/* 
    Created on : 2015-04-05, 14:37:29
    Author     : W.Regenczuk
*/

/* common */

/* nav */
  
/*@media only screen and (max-width : 992px) {
    #slide-out {
        margin-top:64px;
    }
}
@media only screen and (max-width : 601px) {
    #slide-out {
        margin-top:56px;
    }
}*/

/*
@media only screen and (min-width : 992px) {
    nav .brand-logo {
        line-height: 171px;
        font-size: 4.1rem;
    }
    nav.top-nav {
        height: 171px;
    }
    .navbar-fixed {
        height: 171px;
    }
}
*/
/*layout*/
header, main, footer {
    padding-left: 304px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0; 
    } 
}
/* other */
#slide-out {
    width:304px;
}

ul.side-nav.fixed li.logo {
    width:304px;
    height:171px;
    border-bottom: 1px solid #ddd;
    padding:0 0;
    margin: 0 0;
    text-align: center;
}
ul.side-nav.fixed li.logo a {
    padding:0 0;
    margin: 0 0;
}
ul.side-nav.fixed li.logo a img{
    width:304px;
    height:171px;
    padding:0 0;
    margin: 0 0;
}
/* menu */
.menu-ico {
    width:48px;
    height:48px;
    float:left;
    margin:8px 16px 0 0;
}

/* content */
