<md-content flex ng-controller="menuController as menu">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools left">
            <md-button ng-click="menu.hideMenu('left')" aria-label="Back" class="backBtn">
                <md-icon md-svg-icon="arrow-back" style="color: #fafafa;" alt=""></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-list>
        <md-item  ng-repeat="item in menu.items">
            <md-item-content>
                <md-button ng-click="menu.selectItem(item.route, 'left')"  ng-class="{'selected' : it === selected }">
                    <img ng-src="{{item.iconurl}}" class="face" alt="">
                    {{item.text}}
                </md-button>
            </md-item-content>
            <md-divider></md-divider>
        </md-item>
    </md-list>

</md-content>