
<!--

<md-toolbar layout="row" class="md-harry md-warn" ng-controller="menuCtrl as menu">
    <img ng-click="menu.selectItem('/')" style="cursor:pointer" show-gt-md hide-sm hide-md  src="./assets/default_spell.jpg" alt="Zaklęcia Harrego" class="img-responsive" />
    <button ng-click="toggleSidenav('left')" hide-gt-md class="backBtn">
        <span class="visually-hidden">Menu</span>
    </button>
    <h1 class="md-toolbar-tools" hide-gt-md ng-click="menu.selectItem('/')" style="cursor:pointer">
        Zaklęcia Harrego
    </h1>
</md-toolbar>

<md-content flex ng-controller="menuCtrl as menu">
    <md-list>
        <md-item  ng-repeat="item in menu.items">
            <md-item-content>
                <md-button ng-click="menu.selectItem(item.route)"  ng-class="{'selected' : item === selected }">
                    <img ng-src="{{item.iconurl}}" class="face" alt="">
                    {{item.text}}
                </md-button>
            </md-item-content>
            <md-divider></md-divider>
        </md-item>
    </md-list>

</md-content>-->